version: '3'

#
# Have a look at the .env file -> used for configuration
#

services:
  rabbitmq:
    image: rabbitmq:3.9-management-alpine
    expose:
      - "15672"
      - "5672"
    hostname: ataka-rabbitmq
    networks:
      - ataka
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq:rw,Z

  postgres:
    image: postgres:14-alpine
    hostname: ataka-postgres
    expose:
      - "5432"
    networks:
      - ataka
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data:rw,Z

  adminer:
    image: adminer:latest
    expose:
      - "8080"
    hostname: ataka-adminer
    networks:
      - ataka
    environment:
      ADMINER_DEFAULT_SERVER: postgres

  api:
    image: openattackdefensetools/ataka-api
    user: $USERID
    build:
      context: ./
      dockerfile: ataka/api/Dockerfile
      args:
        CTF: $CTF
    volumes:
      - ${DATA_STORE}/shared:/data/shared:rw,z
      - ${DATA_STORE}/exploits:/data/exploits:rw,z
      - ./ataka/api:/ataka/api
    expose:
      - "8000"
    security_opt:
      - label:disable
    depends_on:
      - postgres
      - rabbitmq
    hostname: ataka-api
    networks:
      - ataka
    env_file:
      - .env

  executor:
    image: openattackdefensetools/ataka-executor
    user: $USERID
    build:
      context: ./
      dockerfile: ataka/executor/Dockerfile
    volumes:
      - /var/run/docker.sock:/run/docker.sock:rw
      - ${DATA_STORE}/shared:/data/shared:rw,z
      - ${DATA_STORE}/exploits:/data/exploits:rw,z
      - ${DATA_STORE}/persist:/data/persist:rw,z
    security_opt:
      - label:disable
    depends_on:
      - postgres
      - rabbitmq
    hostname: ataka-executor
    networks:
      - ataka
    env_file:
      - .env

  ctfcode:
    image: openattackdefensetools/ataka-ctfcode
    user: $USERID
    build:
      context: ./
      dockerfile: ataka/ctfcode/Dockerfile
    volumes:
      - ./ataka/ctfconfig:/ataka/ctfconfig:ro
      - ${DATA_STORE}/shared:/data/shared:rw,z
    security_opt:
      - label:disable
    depends_on:
      - postgres
      - rabbitmq
    hostname: ataka-ctfcode
    networks:
      - ataka
    env_file:
      - .env

  cli:
    image: openattackdefensetools/ataka-cli
    user: $USERID
    build:
      context: ./
      dockerfile: ataka/cli/Dockerfile
    depends_on:
      - postgres
      - rabbitmq
    hostname: ataka-cli
    networks:
      - ataka
    env_file:
      - .env

volumes:
  postgres-data:
  rabbitmq-data:


networks:
  ataka:
